@import 'utils';

html, body {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
  margin: 0px;
  background-color: $peachy-pink-gradient;
  overflow: hidden;
  position: relative;
  font-size: 12px;
}
