.tableContainer {
  width: 100%;
  position: absolute;
  bottom: 1em;
  @media screen and (max-height: 500px) {
    bottom: .5em;
  }
}
table {
  bottom: .7em;
  margin: 0 auto;
  // @media screen and (max-width: 300px) {
  //   width: 100%;
  //   align-items: center;
  // }
}
tbody {
  align-items: center;
}
tr {
  height: 4em;
}
th, td {
  // border: 1px solid black;
  text-align: -webkit-center;
  width: 5em;
}
a .github-icon {
  width: 2em;
  height: 2em;
  display:table-cell;
  pointer-events: visible;
  z-index: 1000;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
  // -webkit-box-reflect: below 0
  //   -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(white));
  &>g>g>path {
    fill: $contact-icon-color;
  }
  &>g>g>ellipse {
    fill: $contact-icon-color;
  }
  @media screen and (max-width: 550px) {
    width: 1.5em;
    height: 1.5em;
  }
}
a .github-icon:hover {
  vertical-align: middle;
  transform: scale( 1.5 );

  &>g>g>path {
    fill: $pink-color;
    pointer-events: visible;
  }
  &>g>g>ellipse {
    fill: white;
  }
  @media (hover:none) {
      width: 2em;
      height: 2em;
      transform: scale(1);
    &>g>g>path {
      fill: $contact-icon-color;
    }
  }
}

.linkedin-icon {
  width: 2em;
  height: 2em;
  display:table-cell;
  padding-bottom: .15em;
  padding-left: .15em;
  pointer-events: visible;
  z-index: 1000;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
  // -webkit-box-reflect: below 0
  //   -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.15, transparent), to(white));

  &>path, rect, circle {
    fill: $contact-icon-color;
  }
  @media screen and (max-width: 550px) {
    width: 1.5em;
    height: 1.5em;
  }
}
a .linkedin-icon:hover {
  width: 2.4em;
  height: 2.4em;
  vertical-align: middle;
  transform: scale(1.5);
  &>path, rect {
    fill: $pink-color;
    pointer-events: visible;
  }
  &>circle {
    fill: white;
    pointer-events: visible;
  }
  @media (hover: none) {
      width: 2em;
      height: 2em;
      transform: scale(1);
      &>path, rect {
        fill: $contact-icon-color;
      }
  }
}

a .email-icon {
  width: 2em;
  height: 2em;
  display: table-cell;
  pointer-events: visible;
  z-index: 1000;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 60.5 ease-in-out;
  -ms-transition: transform 60.5 ease-in-out;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
  fill: $contact-icon-color;
  stroke-opacity: 0;
  // -webkit-box-reflect: below 0
  //   -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.15, transparent), to(white));

  &>g>path {
    fill: rgba(250, 250, 250, 0);
  }
  @media screen and (max-width: 550px) {
    width: 1.5em;
    height: 1.5em;
  }
}
a .email-icon:hover {
  width: 2.4em;
  height: 2.4em;
  vertical-align: middle;
  stroke-opacity: 1;
  fill: $pink-color;
  pointer-events: visible;
  transform: scale(1.5);
  @media (hover: none) {
    width: 2em;
    height: 2em;
    transform: scale(1);
    fill: $contact-icon-color;
  }
}