@import "utils";

.home {
  margin: auto;
  /*height:100vh;*/
  width:100vw;
  overflow: hidden;
  background-repeat: no-repeat;

  background-position: center;
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
  bottom: 0;
}

.gradient {
  /*overflow-y: visible;*/
  background-color: #091022; 
  /*161B29 060F25 0d1618 0D1018 41140A 9A582D 030C22 0D0F18 0A0D1A*/
  /*background: linear-gradient(180deg, #2F3E66, #171E32);*/
  /*background: linear-gradient(deg, $peachy-pink-gradient, #F1B8C8); 2F3E66
  background-size: 100% 250%;*/

  /*background: linear-gradient(180deg, #e0dedf, #f1b8c8, #f9c4b9);
  background-size: 500% 500%;

  -webkit-animation: $animation-body;
  -moz-animation: $animation-body;
  -o-animation: $animation-body;
  animation: $animation-body;

  @-webkit-keyframes BackgroundGradient {
    @include gradient;
  }
  @-moz-keyframes BackgroundGradient {
    @include gradient;
  }
  @-o-keyframes BackgroundGradient {
    @include gradient;
  }
  @keyframes BackgroundGradient {
    @include gradient;
  }*/
}
.homeBackdrop{
  position: absolute;
  width:100vw;
  height:100vh;
  z-index: 1002
}
.blackStar {
  z-index: 1002;
  @include absolutecenter('x');
  width:.15em;
  height:.15em;
  border-radius: 50%;
  /*background-color: white;*/
}

.blackRing {
  z-index: 1000;
  @include absolutecenter('x');
  /*box-shadow: 0px 0px 10px 5px rgba(249, 227, 227, 1);*/
  /*filter: url(#blur-filter);*/
  /*-webkit-filter: drop-shadow( -5px -5px 5px #000 );
  filter: drop-shadow( -5px -5px 5px #000 );*/
}
.homeHalo {
  position: relative;
}
.blackHalo {
  z-index: 1000;
  @include absolutecenter('x');

  /*width:100vw;
  height:100vh;*/
}
