@import "utils";

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  bottom: 0;
}
.stardust, .tg {
  position: absolute;
  height: 100vh;
  width:100vw;
}
.star {
  width:.5em;
  height:.5em;
  position:absolute;
  background-color: rgba(250, 250, 250, 0.75);
  box-shadow:0px 0px 10px 8px rgba(249, 227, 227, 1);
  border-radius: 50%;
  filter: blur(1px);
 -webkit-filter: blur(1px);
  z-index:2;
  // rgba(249, 205, 248, 0.8) rgba(250, 250, 250, 0.75) rgba(214, 244, 229, 0.75) rgba(200, 246, 249, .5)
}
.staticStar {
  width:2em;
  height:2em;
  position:absolute;
  // background-color: rgba(245, 214, 204, 0.5);
  box-shadow:inset 0px 0px 10em rgba(211, 246, 249, 0.5);
  border-radius: 50%;
  filter: blur(2px);
 -webkit-filter: blur(2px);
 // background-color: #fff;
 //  box-shadow:
 //    0 0 5px 2px rgba(0, 255, 255, 0.7),
 //    0 0 10px 6px rgba(249, 205, 248, 0.8);
}
.buttonShowName {
  // cursor: url(../assets/cursor.jpg), pointer;
  @include absolutecenter('both');
  pointer-events: visible;
  visibility: visible;
  height: 5em;
  width: 5em;
  &.hide {
    display: none;
  }
}
.pulse-enter {
  opacity: 0.0;
}

.pulse-enter.pulse-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.pulse-exit {
  opacity: 1;
}

.pulse-exit.pulse-exit-active {
  opacity: 0.0;
  transition: opacity 500ms ease-out;
}
.nameDiv {
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: absolute;  
  display:inline-block;
 }
.name {
  // cursor: url(../assets/cursor.jpg), pointer;
  z-index: 1000;
  @include absolutecenter('both');
  font-family: 'Monoton', Courier, sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  color: rgb(69, 12, 24);
  text-shadow: 2px 2px rgba(142, 139, 139, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: colorchange 20s infinite alternate;
  -webkit-animation-delay: 1.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.2s;
  // animation-play-state: running;

  @-webkit-keyframes colorchange {
    0% {color: #f98c8c;}
    10% {color: #9f3711;}
    20% {color: #ffff00;}
    30% {color: #466b8e;}
    40% {color: #f40b43;}
    50% {color: #3640cf;}
    60% {color: #be6c6c;}
    70% {color: #c212b6;}
    80% {color: #2dcfaf;}
    90% {color: #800334;}
    100% {color: #f98c8c;}
  }
  &:hover {
    animation-play-state: paused;
    cursor: pointer;
    // cursor: url(../assets/cursor.jpg), pointer;
  }
}
// #8e44ad #b929af #34495e #f47dcb #345270 #f1e10e

@media screen and (min-width: 400px) {
  .name {
    white-space: nowrap;
  }
}
@media screen and (max-width: 400px) {
  .name {
    text-align: center;
  }
}

